<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{Title:"About Devs"}) %>
<body style="height: 100vh;">
    <%- include('./partials/navbar.ejs',{active2:"active", active1:"",active3:"", active4:""}) %>
    <div class="custom-container container">
        <div class="about-devs-box row d-flex justify-content-center align-items-center" style="margin-top: 10%">
            <div class="dev col-lg-3 col-md-6 col-sm-12">
                <div class="about-devs d-flex align-items-center justify-content-center">
                    <%- include('./partials/cards.ejs', dev_details_1) %>
                </div>
                <!-- first man -->
                
            </div>

            <!-- second man -->
            <div class="dev col-lg-3 col-md-6 col-sm-12">
                <div class="about-devs d-flex align-items-center justify-content-center">
                    <%- include('./partials/cards.ejs', dev_details_2) %>
                </div> 
            </div>
            
            

            
            
            
        </div>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>